body {
    margin: 0px;
}
.header {
    background-color: rgb(114, 108, 197);
    color:  rgb(247, 247, 247);
    padding: 20px;
    text-align: center;
}
div.error {
    background: rgb(182, 182, 167);
    color: rgb(245, 11, 11);
}
button {
    width: 130px;
    height: 40px;
}

label {
    font-weight: bold;
}
.tab{
    overflow: hidden;
    border: 1x solid #ccc;
    background-color: #f1f1f1;

}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
  }
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
  
  /* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
    
}
.topright:hover {color: red;}
.footer{
    background-color: blueviolet;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    text-align: center;
    
}
/* .topnav{
    overflow: hidden;
    background-color: rgb(125, 25, 219);
}
topnav a{
    float: center;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: black;
    padding: 14px 16px;
}
.topnav a:hover{
    background-color: rgb(215, 7, 243);
    color: black;
    font-weight: bold;
} */